N8N Workflow/Competitor Monitoring AI Agent.json
{
  "name": "Competitor Monitoring AI Agent",
  "nodes": [
    {
      "parameters": {
        "content": "\n\n\n# Competitor Monitoring AI Agent",
        "height": 3040,
        "width": 10816,
        "color": "#8B389A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5456,
        -1712
      ],
      "typeVersion": 1,
      "id": "6ddc6150-ad4f-43a5-968b-0fcb6b6583cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Competitor Monitoring & Benchamrking:\n\n- If you can compare Wayfair to their competitor.\n- Gives AMAZON product units or product collection URL.\n- Without competitor data not able to do monitoring or benchmarking.\n\n\n### Sample Input:\n- In this project, we can monitor our competitors. We scrape data from AMAZON. Gives AMAZON products and product's collection's URLs.\n\n- Input:\n\n   - Amazon product url:\n https://www.amazon.com/Soalmost-Washable-Vintage-Non-Slip-Resistant/dp/B0CYT2LXHC?th=1\n\n  - Amazon collection url: https://www.amazon.com/s?k=Best+Sellers+in+rugs&crid=2ICEM72R7CNKO&sprefix=best+sellers+in+rug%2Caps%2C274&ref=nb_sb_noss_2\n\n  - Walmart collection URL:\n https://www.walmart.com/search?q=area+rugs \n\n  - Walmart product url:\n https://www.walmart.com/ip/some-area-rug-product/682267945\n\n  - Based on the given links, can you do competitor analysis?\n\n\n",
        "height": 624,
        "width": 528,
        "color": "#E9C5B1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5232,
        -880
      ],
      "typeVersion": 1,
      "id": "40cc6e64-9ad5-43de-8ccc-51a68f2422e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 1: INPUT & ROUTING",
        "height": 480,
        "width": 896,
        "color": "#F2A9C3"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5248,
        -208
      ],
      "typeVersion": 1,
      "id": "b9605bbe-314b-45e3-8924-fbe4bf01cc08",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -5024,
        48
      ],
      "id": "c1e9a845-1bc5-42c6-8560-bcb857ef2be5",
      "name": "When chat message received",
      "webhookId": "c74d3494-e174-4cc3-9754-dd5687187d3d"
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 2: WAYFAIR SCRAPING",
        "height": 512,
        "width": 2912,
        "color": "#E9C874"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        -1536
      ],
      "typeVersion": 1,
      "id": "fc824fe3-2159-449e-96b9-52c081a8e8b4",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "// INPUT PARSER - Project 3 Competitor Monitoring\n// Extracts category, maps to Wayfair URL, and extracts Amazon + Walmart URLs\n\nconst input = $input.first().json.chatInput || '';\n\n// Category definitions with Wayfair URL mapping\nconst categories = [\n  { \n    key: 'area_rug', \n    patterns: ['area rug', 'area rugs'],\n    wayfairUrl: 'https://www.wayfair.com/rugs/sb0/area-rugs-c215386.html',\n    displayName: 'Area Rugs'\n  },\n  { \n    key: 'outdoor_rug', \n    patterns: ['outdoor rug', 'outdoor rugs', 'patio rug', 'patio rugs'],\n    wayfairUrl: 'https://www.wayfair.com/rugs/sb0/outdoor-rugs-c478542.html',\n    displayName: 'Outdoor Rugs'\n  },\n  { \n    key: 'hallway_runner', \n    patterns: ['hallway runner', 'runner rug', 'hall runner', 'runners', 'hallway runners'],\n    wayfairUrl: 'https://www.wayfair.com/rugs/sb0/hallway-runners-c416168.html',\n    displayName: 'Hallway Runners'\n  },\n  { \n    key: 'shag_rug', \n    patterns: ['shag rug', 'shag rugs', 'shaggy rug', 'shaggy rugs'],\n    wayfairUrl: 'https://www.wayfair.com/rugs/sb1/shag-area-rugs-c215386-a2959~477552.html',\n    displayName: 'Shag Rugs'\n  }\n];\n\n// Detect category from input\nconst inputLower = input.toLowerCase();\nlet detectedCategory = null;\n\nfor (const cat of categories) {\n  for (const pattern of cat.patterns) {\n    if (inputLower.includes(pattern)) {\n      detectedCategory = cat;\n      break;\n    }\n  }\n  if (detectedCategory) break;\n}\n\n// Default to area_rug if no category detected\nif (!detectedCategory) {\n  detectedCategory = categories[0];\n  console.log('No category detected, defaulting to area_rug');\n}\n\n// Extract Amazon URLs from input\nconst amazonRegex = /(https?:\\/\\/(?:www\\.)?amazon\\.[a-z.]+\\/[^\\s]+)/gi;\nconst amazonUrls = input.match(amazonRegex) || [];\n\n// Classify Amazon URLs into products and collections\nconst amazonProducts = [];\nconst amazonCollections = [];\n\namazonUrls.forEach(url => {\n  const cleanUrl = url.trim().replace(/,+$/, '');\n  if (/\\/dp\\/|\\/gp\\/product\\//.test(cleanUrl)) {\n    amazonProducts.push(cleanUrl);\n  } else if (/\\/gp\\/bestsellers\\/|\\/s\\?|\\/b\\//.test(cleanUrl)) {\n    amazonCollections.push(cleanUrl);\n  }\n});\n\n// Extract Walmart URLs from input\nconst walmartRegex = /(https?:\\/\\/(?:www\\.)?walmart\\.com\\/[^\\s]+)/gi;\nconst rawWalmartUrls = input.match(walmartRegex) || [];\n\nconst walmartProducts = [];\nconst walmartCollections = [];\n\nrawWalmartUrls.forEach(url => {\n  // CLEANING: Remove trailing commas, parens, or whitespace\n  let cleanUrl = url.trim().replace(/[,\\s)>]+$/, '');\n  \n  // VALIDATION: Ensure it's a valid string before sorting\n  if (typeof cleanUrl === 'string' && cleanUrl.length > 10) {\n    if (/\\/ip\\//.test(cleanUrl)) {\n      walmartProducts.push(cleanUrl);\n    } else if (/\\/search\\?q=|\\/browse\\/|\\/shop\\//.test(cleanUrl)) {\n      walmartCollections.push(cleanUrl);\n    }\n  }\n});\n\n// FINAL SAFETY CHECK: Ensure we aren't passing an empty string as a \"URL\"\nconst finalWalmartCollections = walmartCollections.filter(url => url && url.startsWith('http'));\nconst finalWalmartProducts = walmartProducts.filter(url => url && url.startsWith('http'));\n\n// Validate input\nconst hasValidInput = amazonProducts.length > 0 || \n                     amazonCollections.length > 0 || \n                     finalWalmartProducts.length > 0 || \n                     finalWalmartCollections.length > 0;\n\nreturn [{\n  json: {\n    category: detectedCategory.key,\n    categoryDisplayName: detectedCategory.displayName,\n    wayfairUrl: detectedCategory.wayfairUrl,\n    productUrls: amazonProducts,\n    collectionUrls: amazonCollections,\n    // Use the filtered versions here\n    walmartProductUrls: finalWalmartProducts,\n    walmartCollectionUrls: finalWalmartCollections,\n    hasValidInput: hasValidInput,\n    originalInput: input,\n    parsedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4752,
        48
      ],
      "id": "f43c8db3-e1f2-484b-beff-83717d8f6334",
      "name": "Input Parser"
    },
    {
      "parameters": {
        "url": "={{ $json.wayfairUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3712,
        -1264
      ],
      "id": "43f9efcf-d334-45e1-bccf-ee8348e9a603",
      "name": "Fetch Wayfair Rugs Page"
    },
    {
      "parameters": {
        "jsCode": "// Extract products from Wayfair's JSON response structure\nconst inputData = $input.first().json;\n\nconsole.log('Input data type:', typeof inputData);\nconsole.log('Input data keys:', Object.keys(inputData));\n\n// Parse JSON if it's a string\nlet jsonData = inputData.data || inputData.body || inputData;\nif (typeof jsonData === 'string') {\n  try {\n    jsonData = JSON.parse(jsonData);\n  } catch (e) {\n    return [{ json: { error: 'Failed to parse JSON', message: e.message } }];\n  }\n}\n\n// Handle array format (like your example)\nif (Array.isArray(jsonData)) {\n  jsonData = jsonData[0];\n}\n\nconsole.log('Working with data structure:', Object.keys(jsonData));\n\n// Extract products from browse.browse_grid_objects\nconst products = [];\n\ntry {\n  const browseData = jsonData.browse;\n  if (!browseData || !browseData.browse_grid_objects) {\n    return [{ json: { error: 'No browse data found', availableKeys: Object.keys(jsonData) } }];\n  }\n\n  const gridObjects = browseData.browse_grid_objects;\n  console.log(`Found ${gridObjects.length} products in browse_grid_objects`);\n\n  gridObjects.forEach((item, index) => {\n    try {\n      // Extract basic product info\n      const title = item.product_name || '';\n      const manufacturer = item.manufacturer || '';\n      const sku = item.sku || '';\n      const url = item.url || '';\n\n      // Extract pricing information\n      let price = '';\n      let listPrice = '';\n      let salePrice = '';\n      let discountPercent = '';\n\n      if (item.raw_pricing_data && item.raw_pricing_data.pricing) {\n        const pricing = item.raw_pricing_data.pricing;\n        \n        // Get display price\n        if (pricing.customerPrice && pricing.customerPrice.display) {\n          price = `$${pricing.customerPrice.display.value}`;\n          salePrice = price;\n        }\n        \n        // Get list price  \n        if (pricing.listPrice && pricing.listPrice.display) {\n          listPrice = `$${pricing.listPrice.display.value}`;\n        }\n        \n        // Get discount percentage\n        if (item.percent_off_amount) {\n          discountPercent = `${item.percent_off_amount}%`;\n        }\n      }\n\n      // Extract image info - Wayfair CDN URL format:\n      // https://assets.wfcdn.com/im/{prefix}/resize-h{H}-w{W}%5Ecompr-r85/{folder}/{ireid}/{product_name}.jpg\n      // Note: prefix can be any number (CDN ignores it), folder = first 4 digits of ireid\n      let imageUrl = '';\n      if (item.image_data && item.image_data.ireid) {\n        const ireid = item.image_data.ireid.toString();\n        const folder = ireid.substring(0, 4);\n        // URL-encode product name: remove special chars, spaces to +\n        const productName = (title || 'product').replace(/[^a-zA-Z0-9 ]/g, '').replace(/\\s+/g, '+');\n        // Extract piid from URL if available\n        const piidMatch = url.match(/piid=(\\d+)/);\n        const piid = piidMatch ? piidMatch[1] : '';\n        const filename = piid ? `${productName}-${piid}.jpg` : `${productName}.jpg`;\n        imageUrl = `https://assets.wfcdn.com/im/00000001/resize-h600-w600%5Ecompr-r85/${folder}/${ireid}/${filename}`;\n      }\n\n      // Extract reviews\n      let rating = '';\n      let reviewCount = '';\n      if (item.average_overall_rating) {\n        rating = item.average_overall_rating.toString();\n      }\n      if (item.review_count) {\n        reviewCount = item.review_count.toString();\n      }\n\n      // Extract features/materials\n      const features = item.features_array || [];\n      \n      // Extract shipping info\n      const freeShipping = item.has_free_shipping || false;\n      const shippingText = item.free_ship_text || '';\n      \n      // Extract size options\n      const sizeOptions = item.configured_option_names || [];\n      \n      // Only add products with meaningful data\n      if (title && title.length > 2) {\n        products.push({\n          title: title,\n          manufacturer: manufacturer,\n          sku: sku,\n          url: url,\n          price: price,\n          list_price: listPrice,\n          sale_price: salePrice,\n          discount_percent: discountPercent,\n          image_url: imageUrl,\n          rating: rating,\n          review_count: reviewCount,\n          features: features,\n          size_options: sizeOptions,\n          free_shipping: freeShipping,\n          shipping_text: shippingText,\n          scraped_at: new Date().toISOString()\n        });\n      }\n    } catch (e) {\n      console.log(`Error processing product ${index}:`, e.message);\n    }\n  });\n\n  console.log(`Successfully extracted ${products.length} products`);\n  \n} catch (e) {\n  console.log('Error processing browse data:', e.message);\n  return [{ json: { error: 'Failed to process browse data', message: e.message } }];\n}\n\n// Return products or error message\nreturn products.length > 0 \n  ? products.map(product => ({ json: product }))\n  : [{ json: { message: 'No products found', dataStructure: Object.keys(jsonData) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3024,
        -1264
      ],
      "id": "5bcbe20b-5fdf-45e7-a026-9eb446f41992",
      "name": "Extract Rug Products"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "15eefd87-662e-4ab8-8b96-51c3a07ac9fc",
              "leftValue": "{{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c58dfabf-2e1a-4cab-a16c-7bdbeae80061",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2480,
        -1264
      ],
      "id": "d60c9d84-3da4-4275-a116-45320e3e9b54",
      "name": "Filter Valid Products"
    },
    {
      "parameters": {
        "jsCode": "// Collect all products and create final JSON structure\nconst allProducts = $input.all().map(item => item.json);\n\nconst finalOutput = {\n  scrape_info: {\n    source: 'wayfair.com',\n    category: 'rugs',\n    scraped_at: new Date().toISOString(),\n    total_products: allProducts.length,\n    source_url: 'https://www.wayfair.com/rugs-pillows-and-throws/sb0/rugs-c215386.html'\n  },\n  wayfair_products: allProducts\n};\n\nconsole.log(`Final JSON contains ${allProducts.length} products`);\n\nreturn [{ json: finalOutput }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -1264
      ],
      "id": "1a651cfd-26c9-476e-b63d-c32860728734",
      "name": "Create Final JSON"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Collect List (Process Collection URLs) - split into individual items\nconst collectionUrls = $input.first().json.collectionUrls || [];\n\nif (collectionUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_collections' } }];\n}\n\nreturn collectionUrls.map(url => ({ json: { url, type: 'collection' } }));\n \n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        -400
      ],
      "id": "ade405e1-48a8-4cd6-ad78-6701d740abf8",
      "name": "Prepare Collection List1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dfd1f17b-a1e7-4154-a891-fbd6b2355770",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3472,
        -400
      ],
      "id": "ef2de357-4d89-4b6d-a7a7-620cf38d8217",
      "name": "Is List Empty?1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "product_links",
              "cssSelector": "div div a[href*='/dp/']",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -3008,
        -416
      ],
      "id": "c4148b47-8ef5-4c56-a698-4e4f54d9dde9",
      "name": "Extract Product Links1"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2592,
        -416
      ],
      "id": "8a12c907-40a5-4097-949b-3bfcc1465911",
      "name": "Pause for Safety1",
      "webhookId": "97315b9c-018f-44df-bd81-94e4766976f3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "i18n-prefs=USD; lc-main=en_US; session-id=141-8209501-9981461; session-id-time=2082787201l; ubid-main=134-5719883-5851066"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2352,
        -416
      ],
      "id": "948cf19c-8733-4733-9232-133b2fe6129d",
      "name": "Visit Product Page1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Path 2: Direct Amazon Product URLs",
        "height": 80,
        "width": 1680,
        "color": "#7930A2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3680,
        -160
      ],
      "typeVersion": 1,
      "id": "ea8d5b1e-5e1c-4bcf-997d-a3b1df8f90a8",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "jsCode": "// Process Direct Product URLs - split into individual items\nconst productUrls = $input.first().json.productUrls || [];\n\nif (productUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_products' } }];\n}\n\nreturn productUrls.map(url => ({ json: { url, type: 'direct_product' } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        48
      ],
      "id": "fe36c9f3-f707-495e-a448-dd193953a730",
      "name": "Prepare Direct Links1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d88f2e03-93e0-4d69-8393-5186af65b81b",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2576,
        48
      ],
      "id": "fc82b7a3-0a5e-453f-a800-5593562333b6",
      "name": "Do We Have Direct Link?1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "i18n-prefs=USD; lc-main=en_US; session-id=141-8209501-9981461; session-id-time=2082787201l; ubid-main=134-5719883-5851066"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2352,
        32
      ],
      "id": "cb7a959c-9606-4de0-b1ec-1a02e2b80aba",
      "name": "Visit Direct Product Page1"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amazon Product Data using Cheerio\nconst cheerio = require('cheerio');\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Handle both full response format and regular format\n    let html = item.json.body || item.json.data || '';\n    let url = '';\n    \n    if (!html) {\n      continue;\n    }\n    \n    const $ = cheerio.load(html);\n    \n    // Extract URL from canonical link in HTML\n    const canonicalUrl = $('link[rel=\"canonical\"]').attr('href');\n    url = canonicalUrl || 'Amazon Product';\n    \n    const name = $('#productTitle').text().trim();\n    if (!name) continue;\n    \n    const price = $('span.a-price span.a-price-whole').first().text().trim();\n    \n    const details = [];\n    $('#feature-bullets ul.a-unordered-list li span.a-list-item').each((i, el) => {\n      const text = $(el).text().trim();\n      if (text && text.length > 0) {\n        details.push(text);\n      }\n    });\n    \n    const pattern = $('#inline-twister-expanded-dimension-text-pattern_name').text().trim();\n    \n    results.push({\n      url,\n      name,\n      price,\n      details,\n      pattern,\n      scraped_at: new Date().toISOString()\n    });\n  } catch (error) {\n    console.error('Error processing item:', error);\n  }\n}\n\nreturn [{\n  json: {\n    products: results,\n    total_scraped: results.length,\n    successful_scrapes: results.length,\n    failed_scrapes: 0,\n    batch_scraped_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        32
      ],
      "id": "af0f5665-4e0e-43d1-b9b8-4240f7578297",
      "name": "Read Direct Item Details1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1536,
        -192
      ],
      "id": "0e5c178d-4340-4d9a-9e64-8c1e62234ab5",
      "name": "Merge Amazon Products (Collection + Direct)1"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amazon Product Data using Cheerio\nconst cheerio = require('cheerio');\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Handle both full response format and regular format\n    let html = item.json.body || item.json.data || '';\n    let url = '';\n    \n    if (!html) {\n      continue;\n    }\n    \n    const $ = cheerio.load(html);\n    \n    // Extract URL from canonical link in HTML\n    const canonicalUrl = $('link[rel=\"canonical\"]').attr('href');\n    url = canonicalUrl || 'Amazon Product';\n    \n    const name = $('#productTitle').text().trim();\n    if (!name) continue;\n    \n    const price = $('span.a-price span.a-price-whole').first().text().trim();\n    \n    const details = [];\n    $('#feature-bullets ul.a-unordered-list li span.a-list-item').each((i, el) => {\n      const text = $(el).text().trim();\n      if (text && text.length > 0) {\n        details.push(text);\n      }\n    });\n    \n    const pattern = $('#inline-twister-expanded-dimension-text-pattern_name').text().trim();\n    \n    results.push({\n      url,\n      name,\n      price,\n      details,\n      pattern,\n      scraped_at: new Date().toISOString()\n    });\n  } catch (error) {\n    console.error('Error processing item:', error);\n  }\n}\n\nreturn [{\n  json: {\n    products: results,\n    total_scraped: results.length,\n    successful_scrapes: results.length,\n    failed_scrapes: 0,\n    batch_scraped_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -416
      ],
      "id": "f9a2a181-0f91-41c4-91fa-a589bd7ed7b9",
      "name": "Read Collection Item Details1"
    },
    {
      "parameters": {
        "jsCode": "// Combine all Amazon product data\nconst allItems = $input.all();\nlet allProducts = [];\n\nfor (const item of allItems) {\n  if (item.json.products && Array.isArray(item.json.products)) {\n    allProducts = allProducts.concat(item.json.products);\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst uniqueProducts = allProducts.filter(p => {\n  if (seen.has(p.url)) return false;\n  seen.add(p.url);\n  return true;\n});\n\nreturn [{\n  json: {\n    amazonProducts: uniqueProducts,\n    totalProducts: uniqueProducts.length,\n    scrapedAt: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -192
      ],
      "id": "08dea583-d80b-4649-bf96-64e81fbd4414",
      "name": "Deduplicate + Combine Final Amazon Product List1"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "i18n-prefs=USD; lc-main=en_US; session-id=141-8209501-9981461; session-id-time=2082787201l; ubid-main=134-5719883-5851066"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3216,
        -416
      ],
      "id": "e69568a7-fc35-4476-8280-4e2af3957fc4",
      "name": "Visit Amazon Collection/Search Page1"
    },
    {
      "parameters": {
        "jsCode": "// Clean and deduplicate product URLs from collection (matching v1 approach)\nconst links = $input.first().json.product_links || [];\n\n// Remove duplicates from product_links array\nconst uniqueLinks = [...new Set(links)];\n\n// Add base URL to make complete URLs\nconst fullUrls = uniqueLinks.map(link => {\n  if (link.startsWith('/')) {\n    return `https://www.amazon.com${link}`;\n  }\n  return link;\n});\n\n// Limit to 10 products like v1\nconst limitedUrls = fullUrls.slice(0, 10);\n\nif (limitedUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_products_found', source: 'collection' } }];\n}\n\n// Split URLs into individual items for processing one by one\nreturn limitedUrls.map(url => ({ json: { url, type: 'product', source: 'collection' } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -416
      ],
      "id": "eaf10141-1933-4ffd-8650-465a1d71d96d",
      "name": "Remove Duplicate Links1"
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 3: AMAZON SCRAPING\n\n**Goal:** Gather the \"Phenotype\" details for shag rugs from the provided URLs.\n\nTwo paths:\n1. Collection URLs -> Extraction product links -> Scrape each\n2. Direct product URLs -> Scrape directly\n\nUses Cheerio to parse:\n- Product name, price, brand\n- Details, description, specs\n- Pattern, size, rating\n\nIncludes 1.5s wait between requests.",
        "height": 1232,
        "width": 2912,
        "color": "#C9B0D7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        -944
      ],
      "typeVersion": 1,
      "id": "c87d1799-4dba-48ce-9a82-c35b1881e11f",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Path 1: Amazon Collection URLs",
        "height": 80,
        "width": 1696,
        "color": "#7930A2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3680,
        -512
      ],
      "typeVersion": 1,
      "id": "acbd0b03-7358-4a19-a3d5-3b6037e5b7c4",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 4: WALMART SCRAPING",
        "height": 848,
        "width": 2928,
        "color": "#90511C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        384
      ],
      "typeVersion": 1,
      "id": "64706f8e-8d90-42b0-b326-7e266d231b4f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Process Walmart Collection URLs - split into individual items\nconst walmartCollectionUrls = $input.first().json.walmartCollectionUrls || [];\n\nif (walmartCollectionUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_walmart_collections' } }];\n}\n\nreturn walmartCollectionUrls.map(url => ({ json: { url, type: 'walmart_collection' } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        1024
      ],
      "id": "1ef7f2d9-1f98-477e-9494-e3821fe42c3a",
      "name": "Process Walmart Collection"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3104,
        1008
      ],
      "id": "2696ac7b-8172-4104-8f0b-228cda5451f6",
      "name": "Fetch Walmart Collection"
    },
    {
      "parameters": {
        "jsCode": "const cheerio = require('cheerio');\n\nconst results = [];\nconst seen = new Set();\n\nconst html = $input.first().json.data || '';\nif (!html) return [{ json: { url: null, type: 'no_html' } }];\n\nconst $ = cheerio.load(html);\n\n// Walmart product cards selector\n$('div[data-testid=\"list-view\"] a[href*=\"/ip/\"]').each((i, el) => {\n  const url = $(el).attr('href');\n  if (url) {\n    const fullUrl = url.startsWith('http') ? url : `https://www.walmart.com${url}`;\n    if (!seen.has(fullUrl)) {\n      seen.add(fullUrl);\n      results.push({ url: fullUrl });\n    }\n  }\n});\n\n// Limit to 10 products\nconst limited = results.slice(0, 10);\n\nif (limited.length === 0) {\n  return [{ json: { url: null, type: 'no_products_found' } }];\n}\n\nreturn limited.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        1008
      ],
      "id": "464b8ba9-4051-4def-83cd-311835c79ec3",
      "name": "Extract Walmart Links"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2544,
        1008
      ],
      "id": "a7bc63cb-55d6-45e3-8072-e2eafa4565bb",
      "name": "Wait Walmart Collection",
      "webhookId": "c11f315c-740c-49e7-b4f2-db4ead549c4e"
    },
    {
      "parameters": {
        "url": "https://www.walmart.com/search?q={{ $json.categoryDisplayName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2224,
        1008
      ],
      "id": "f0e19232-d6ff-4852-9fdb-4f7521cb5ce4",
      "name": "Fetch Walmart Product2"
    },
    {
      "parameters": {
        "jsCode": "// Parse Walmart Product Data\nconst inputItems = $input.all();\nconst allProducts = [];\n\nfunction extractProductData(html) {\n  const product = {\n    name: null,\n    price: null,\n    originalPrice: null,\n    sizes: [],\n    colors: [],\n    description: null,\n    productId: null,\n    source: 'walmart'\n  };\n\n  // Extract Product Name\n  const nameMatch = html.match(/<h1[^>]*id=\"main-title\"[^>]*>([^<]+)/i);\n  if (nameMatch) product.name = nameMatch[1].trim();\n\n  // Extract Current Price\n  const priceMatch = html.match(/<span[^>]*itemprop=\"price\"[^>]*>([^<]+)/i);\n  if (priceMatch) product.price = priceMatch[1].trim();\n\n  // Extract Original Price (if on sale)\n  const originalPriceMatch = html.match(/Was\\s*\\$([0-9,.]+)/i);\n  if (originalPriceMatch) product.originalPrice = `$${originalPriceMatch[1]}`;\n\n  // Extract Sizes with individual prices\n  const sizeMatches = [...html.matchAll(/variant-tile-price-text-([^\"]+)\"[^>]*>\\$([0-9,.]+)/g)];\n  sizeMatches.forEach(([, size, price]) => {\n    product.sizes.push({ size: size.trim(), price: `$${price}` });\n  });\n\n  // Extract Colors\n  const colorMatches = [...html.matchAll(/aria-label=\"([^\"]+)\"[^>]*role=\"img\"/g)];\n  colorMatches.forEach(([, color]) => {\n    product.colors.push({ color: color.trim() });\n  });\n\n  // Extract Description\n  const descStart = html.indexOf('<ul>', html.indexOf('About this item'));\n  if (descStart !== -1) {\n    const descEnd = html.indexOf('</ul>', descStart);\n    if (descEnd !== -1) {\n      product.description = html.substring(descStart, descEnd)\n        .replace(/<[^>]*>/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n    }\n  }\n\n  // Extract Product ID\n  const idMatch = html.match(/\\/ip\\/[^\\/]+\\/(\\d+)/);\n  if (idMatch) product.productId = idMatch[1];\n\n  return product;\n}\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const htmlContent = inputItems[i].json.data;\n  if (htmlContent && typeof htmlContent === 'string') {\n    const productData = extractProductData(htmlContent);\n    productData.scraped_at = new Date().toISOString();\n    if (productData.name) {\n      allProducts.push({ json: productData });\n    }\n  }\n}\n\nreturn allProducts.length > 0 ? allProducts : [{ json: { error: 'No products parsed' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        1008
      ],
      "id": "2f8578fa-c17d-48dd-b228-b8bb7744268b",
      "name": "Parse Walmart Product2"
    },
    {
      "parameters": {
        "jsCode": "// Process Walmart Product URLs - split into individual items\nconst walmartProductUrls = $input.first().json.walmartProductUrls || [];\n\nif (walmartProductUrls.length === 0) {\n  return [{ json: { url: null, type: 'no_walmart_products' } }];\n}\n\nreturn walmartProductUrls.map(url => ({ json: { url, type: 'walmart_product' } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        624
      ],
      "id": "a2b47d19-a3f2-42f9-9090-84561ad55bd0",
      "name": "Process Walmart Products"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2208,
        608
      ],
      "id": "d02ddb5b-8bbc-439d-8a48-7ae2113f40bc",
      "name": "Fetch Walmart Product"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2528,
        608
      ],
      "id": "903a8a96-8eb3-44d9-b072-dda06401fbb0",
      "name": "Wait Walmart Product",
      "webhookId": "c3972b9c-a2b3-448c-9fa5-0f96193f4f0c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd258bfb-46a6-47ab-8fc8-423213f9481c",
              "leftValue": "={{ $json.url}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3456,
        624
      ],
      "id": "a03bbe35-771b-403b-96a5-f713dd6f7bc6",
      "name": "Has Walmart Product URL?"
    },
    {
      "parameters": {
        "jsCode": "// Parse Walmart Product Data\nconst inputItems = $input.all();\nconst allProducts = [];\n\nfunction extractProductData(html) {\n  const product = {\n    name: null,\n    price: null,\n    originalPrice: null,\n    sizes: [],\n    colors: [],\n    description: null,\n    productId: null,\n    source: 'walmart'\n  };\n\n  // Extract Product Name\n  const nameMatch = html.match(/<h1[^>]*id=\"main-title\"[^>]*>([^<]+)/i);\n  if (nameMatch) product.name = nameMatch[1].trim();\n\n  // Extract Current Price\n  const priceMatch = html.match(/<span[^>]*itemprop=\"price\"[^>]*>([^<]+)/i);\n  if (priceMatch) product.price = priceMatch[1].trim();\n\n  // Extract Original Price (if on sale)\n  const originalPriceMatch = html.match(/Was\\s*\\$([0-9,.]+)/i);\n  if (originalPriceMatch) product.originalPrice = `$${originalPriceMatch[1]}`;\n\n  // Extract Sizes with individual prices\n  const sizeMatches = [...html.matchAll(/variant-tile-price-text-([^\"]+)\"[^>]*>\\$([0-9,.]+)/g)];\n  sizeMatches.forEach(([, size, price]) => {\n    product.sizes.push({ size: size.trim(), price: `$${price}` });\n  });\n\n  // Extract Colors\n  const colorMatches = [...html.matchAll(/aria-label=\"([^\"]+)\"[^>]*role=\"img\"/g)];\n  colorMatches.forEach(([, color]) => {\n    product.colors.push({ color: color.trim() });\n  });\n\n  // Extract Description\n  const descStart = html.indexOf('<ul>', html.indexOf('About this item'));\n  if (descStart !== -1) {\n    const descEnd = html.indexOf('</ul>', descStart);\n    if (descEnd !== -1) {\n      product.description = html.substring(descStart, descEnd)\n        .replace(/<[^>]*>/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n    }\n  }\n\n  // Extract Product ID\n  const idMatch = html.match(/\\/ip\\/[^\\/]+\\/(\\d+)/);\n  if (idMatch) product.productId = idMatch[1];\n\n  return product;\n}\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const htmlContent = inputItems[i].json.data;\n  if (htmlContent && typeof htmlContent === 'string') {\n    const productData = extractProductData(htmlContent);\n    productData.scraped_at = new Date().toISOString();\n    if (productData.name) {\n      allProducts.push({ json: productData });\n    }\n  }\n}\n\nreturn allProducts.length > 0 ? allProducts : [{ json: { error: 'No products parsed' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        608
      ],
      "id": "78f92d02-b71a-45d8-a80a-ead630e23483",
      "name": "Parse Walmart Product1"
    },
    {
      "parameters": {
        "content": "## Walmart Product 1\n",
        "height": 80,
        "width": 176,
        "color": "#8B379A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        512
      ],
      "typeVersion": 1,
      "id": "a2ea6d76-4c52-406c-9f13-f74203a29c5b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n## Walmart Product 2\n",
        "height": 80,
        "width": 176,
        "color": "#8B379A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        896
      ],
      "typeVersion": 1,
      "id": "469d35e7-f307-407a-8006-a65b91912326",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "953201e5-c4ca-4d8a-9340-c0542891d14a",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3456,
        1024
      ],
      "id": "d17f8a4a-f27a-4226-b21f-7eba1fcb97cd",
      "name": "Has Walmart Collection URL?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1536,
        800
      ],
      "id": "52e9d271-7516-4ffc-a8c7-f92a7063123b",
      "name": "Merge Walmart Results"
    },
    {
      "parameters": {
        "jsCode": "// Combine all Walmart product data\nconst allItems = $input.all();\nlet allProducts = [];\n\nfor (const item of allItems) {\n  if (item.json.name) {\n    allProducts.push(item.json);\n  }\n}\n\n// Deduplicate by productId\nconst seen = new Set();\nconst uniqueProducts = allProducts.filter(p => {\n  if (!p.productId || seen.has(p.productId)) return false;\n  seen.add(p.productId);\n  return true;\n});\n\nreturn [{\n  json: {\n    walmartProducts: uniqueProducts,\n    totalProducts: uniqueProducts.length,\n    scrapedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        800
      ],
      "id": "4dafc5d2-1bc1-4bce-b23f-cb0a0adb6d69",
      "name": "Combine Walmart Products"
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 5: AI ANALYSIS & REPORT GENERATION\n\n\n",
        "height": 816,
        "width": 4224,
        "color": "#704EA7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -544
      ],
      "typeVersion": 1,
      "id": "8af0f71e-5d1a-4ab9-9c8d-0da46bc74004",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        -192
      ],
      "id": "bc278997-7b03-4ac1-b26a-3d285021d306",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// SCOPE GENERATOR - No AI, just JavaScript\n// Generates Section 2: Scope of Research\n\nconst wayfairData = $('Code').first().json;\nconst amazonData = $('Deduplicate + Combine Final Amazon Product List1').first().json;\nlet walmartData = {};\ntry { walmartData = $('Combine Walmart Products').first().json || {}; } catch(e) {}\nconst inputData = $('Input Parser').first().json;\n\nconst category = inputData.categoryDisplayName || 'Rugs';\nconst amazonProductCount = amazonData.amazonProducts?.length || amazonData.totalProducts || 0;\nconst wayfairProductCount = wayfairData.wayfair_products?.length || 0;\nconst walmartProductCount = walmartData.walmartProducts?.length || walmartData.totalProducts || 0;\n\nconst scopeHtml = `\n<section class=\"scope-section\">\n  <h2>Scope of Research</h2>\n  <div class=\"scope-grid\">\n    <div class=\"scope-card\">\n      <h4>Category Analyzed</h4>\n      <p class=\"scope-value\">${category}</p>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Competitors Reviewed</h4>\n      <ul>\n        <li><strong>Amazon</strong> - ${amazonProductCount} products analyzed</li>\n        <li><strong>Walmart</strong> - ${walmartProductCount} products analyzed</li>\n        <li><strong>Wayfair</strong> - ${wayfairProductCount} products (baseline)</li>\n      </ul>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Data Sources</h4>\n      <ul>\n        <li>Product listings & pricing</li>\n        <li>Customer reviews & ratings</li>\n        <li>Product features & specifications</li>\n      </ul>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Report Generated</h4>\n      <p class=\"scope-value\">${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n  </div>\n</section>\n`;\n\nreturn [{\n  json: {\n    section: 'scope',\n    html: scopeHtml,\n    metadata: {\n      category,\n      amazonProductCount,\n      walmartProductCount,\n      wayfairProductCount,\n      generatedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -192
      ],
      "id": "836faf86-a0cf-4955-aab2-ccce00088ead",
      "name": "Scope Generator"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        -192
      ],
      "id": "7ca9ba95-819a-4128-8f81-9aa36575bdee",
      "name": "Wait After Scope",
      "webhookId": "a070bd61-1f75-4388-845f-326a2fec55ed"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS:\n{{ JSON.stringify($('Code').first().json.wayfair_products?.slice(0, 10), null, 2) }}\n\nAMAZON COMPETITOR DATA:\n{{ JSON.stringify($('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts?.slice(0, 10), null, 2) }}\n\nWALMART COMPETITOR DATA:\n{{ JSON.stringify($('Combine Walmart Products').first().json.walmartProducts?.slice(0, 10), null, 2) }}\n\n",
        "options": {
          "systemMessage": "You are a senior competitive analyst writing an Executive Summary for Wayfair's strategy team.\n\nTASK: Write a compelling Executive Summary comparing Wayfair vs Amazon and Walmart in this rug category.\n\nREQUIREMENTS:\n1. Lead with the single most important competitive insight\n2. Include 5-6 key bullet points covering:\n   - Price positioning (Wayfair vs Amazon vs Walmart)\n   - Product assortment differences across all three\n   - Rating/review comparison\n   - Key competitive advantage for Wayfair\n   - Walmart-specific opportunities or threats\n   - Main strategic opportunity\n3. Add a \"Strategic Implications\" paragraph (2-3 sentences)\n\nOUTPUT FORMAT (HTML only, no markdown):\n<section class=\"executive-summary\">\n  <h2>Executive Summary</h2>\n  <div class=\"summary-hero\">\n    <div class=\"key-insight\">\n      <span class=\"label\">Key Competitive Insight</span>\n      <p>[Single most important finding about Wayfair vs Amazon vs Walmart]</p>\n    </div>\n  </div>\n  <div class=\"summary-points\">\n    <h3>Key Findings</h3>\n    <ul>\n      <li><strong>[Topic]:</strong> [Insight]</li>\n    </ul>\n  </div>\n  <div class=\"strategic-implications\">\n    <h3>Strategic Implications</h3>\n    <p>[What this means for Wayfair's strategy]</p>\n  </div>\n</section>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        -192
      ],
      "id": "d99b6565-1a52-42c8-836f-c3af678c2212",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "9ede9b13-6fbc-4583-907c-bd66399a0d47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ardQ0gLWaXWyvLWF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        -192
      ],
      "id": "3eb349c1-0ae2-415b-9953-91d6ce985353",
      "name": "Wait After Executive Summary",
      "webhookId": "c320b37f-3f8c-4947-9479-e37a1ddeb03c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts?.slice(0, 15), null, 2) }}\n\nWALMART PRODUCTS:\n{{ JSON.stringify($('Combine Walmart Products').first().json.walmartProducts?.slice(0, 15), null, 2) }}\n",
        "options": {
          "systemMessage": "=You are a marketplace analyst. Analyze Amazon and Walmart competitor products.\n\n  TASK: Create a Competitor Analysis section covering BOTH Amazon AND Walmart with clickable product links.\n\n  IMPORTANT: When listing products in tables, wrap product names in anchor tags using their URL:\n  <a href=\"[product_url]\">[Product Name]</a>\n\n  INCLUDE:\n  1. Amazon Analysis:\n     - Product count, price range, avg rating\n     - Top 3 performers WITH clickable links to their URLs\n     - Common features\n  2. Walmart Analysis:\n     - Product count, price range\n     - Top 3 performers WITH clickable links to their URLs\n     - Size/color variety\n  3. Cross-Competitor Comparison\n     - Which competitor has better pricing\n     - Which has more variety\n     - Key differentiators\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"competitor-analysis\">\n    <h2>Competitor Analysis</h2>\n\n    <div class=\"amazon-section\">\n      <h3>Amazon Overview</h3>\n      <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Count]</span>\n          <span class=\"stat-label\">Products Analyzed</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Min] - [Max]</span>\n          <span class=\"stat-label\">Price Range</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Avg]/5</span>\n          <span class=\"stat-label\">Avg Rating</span>\n        </div>\n      </div>\n      <div class=\"top-performers\">\n        <h4>Top Amazon Products</h4>\n        <table class=\"data-table\">\n          <thead><tr><th>Product</th><th>Price</th><th>Rating</th></tr></thead>\n          <tbody>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name - shortened if needed]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n      <div class=\"common-features\">\n        <h4>Common Features</h4>\n        <ul>\n          <li>[Feature 1]</li>\n          <li>[Feature 2]</li>\n          <li>[Feature 3]</li>\n          <li>[Feature 4]</li>\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"walmart-section\">\n      <h3>Walmart Overview</h3>\n      <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Count]</span>\n          <span class=\"stat-label\">Products Analyzed</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Min] - [Max]</span>\n          <span class=\"stat-label\">Price Range</span>\n        </div>\n      </div>\n      <div class=\"top-performers\">\n        <h4>Top Walmart Products</h4>\n        <table class=\"data-table\">\n          <thead><tr><th>Product</th><th>Price</th><th>Sizes Available</th></tr></thead>\n          <tbody>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options or count]</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options]</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options]</td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n      <div class=\"variety\">\n        <h4>Size/Color Variety</h4>\n        <ul>\n          <li><strong>Sizes:</strong> [Range description]</li>\n          <li><strong>Colors:</strong> [Count and types]</li>\n          <li><strong>Brands:</strong> [List main brands]</li>\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"cross-comparison\">\n      <h3>Cross-Competitor Insights</h3>\n      <ul>\n        <li><strong>Pricing:</strong> [Which competitor wins on price and why]</li>\n        <li><strong>Variety:</strong> [Which has better selection]</li>\n        <li><strong>Key Differentiators:</strong> [What makes each unique]</li>\n        <li><strong>Target Audience:</strong> [Who each competitor serves best]</li>\n      </ul>\n    </div>\n  </section>\n\n  CRITICAL:\n  - Extract actual URLs from the product data and use them in href attributes\n  - Use the full URL (https://www.amazon.com/... or https://www.walmart.com/...)\n  - If URL is not available, just use the product name without a link\n  - Truncate long product names to ~50 characters for readability\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        -192
      ],
      "id": "62752b44-6dfe-41bc-9eea-4b9a3d4540b9",
      "name": "Amazon Analysis Generator"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1008,
        32
      ],
      "id": "fc7eac67-d216-42e5-a25a-218373de83a7",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "1sj9XOraQyHdK5dU",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        -192
      ],
      "id": "49945ffd-7199-412e-abdd-868825d0bf20",
      "name": "Wait After Amazon",
      "webhookId": "1012de7d-e7da-4ea3-afe2-6b85a1a57d4d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS:\n{{ JSON.stringify($('Code').first().json.wayfair_products?.slice(0, 10), null, 2) }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts?.slice(0, 10), null, 2) }}\n\nWALMART PRODUCTS:\n{{ JSON.stringify($('Combine Walmart Products').first().json.walmartProducts?.slice(0, 10), null, 2) }}\n",
        "options": {
          "systemMessage": "You are a competitive intelligence analyst. Create a side-by-side comparison of Wayfair vs Amazon vs Walmart.\n\n  TASK: Create a comprehensive three-way Competitor Comparison table with clear winner indicators.\n\n  COMPARE THESE ATTRIBUTES:\n  1. Price Positioning (avg, min, max for each)\n  2. Product Variety/Count\n  3. Rating Distribution\n  4. Feature Highlights\n  5. Size/Color Options\n  6. Shipping/Delivery\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"competitor-comparison\">\n    <h2>Side-by-Side Comparison</h2>\n    <table class=\"comparison-table\">\n      <thead>\n        <tr>\n          <th>Attribute</th>\n          <th>Wayfair</th>\n          <th>Amazon</th>\n          <th>Walmart</th>\n          <th>Winner</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td><strong>Price Positioning</strong></td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Product Variety</strong></td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Avg Rating</strong></td>\n          <td>[X] / 5 stars<br>([X] - [X] reviews)</td>\n          <td>[X] / 5 stars<br>([X] - [X] reviews)</td>\n          <td>[Data if available or \"N/A\"]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Key Features</strong></td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner or \"Tie\"]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Size Options</strong></td>\n          <td>[Description of size range]</td>\n          <td>[Description of size range]</td>\n          <td>[Description of size range]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Shipping</strong></td>\n          <td>[Shipping info]</td>\n          <td>[Shipping info]</td>\n          <td>[Shipping info]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n      </tbody>\n    </table>\n\n    <div class=\"comparison-insights\">\n      <h3>Key Takeaways</h3>\n      <ul>\n        <li><strong>Price Leader:</strong> [Who wins on price and why]</li>\n        <li><strong>Variety & Selection:</strong> [Who has the best assortment]</li>\n        <li><strong>Customer Confidence:</strong> [Rating/review insights]</li>\n        <li><strong>Practical Features:</strong> [Who offers best features]</li>\n        <li><strong>Shipping Convenience:</strong> [Delivery comparison]</li>\n        <li><strong>Overall:</strong> [Summary of who wins in what scenarios]</li>\n      </ul>\n    </div>\n  </section>\n\n  <style>\n  .winner-badge {\n    display: inline-block;\n    padding: 4px 12px;\n    border-radius: 20px;\n    font-weight: 600;\n    font-size: 0.85rem;\n  }\n  .winner-wayfair { background: #d1fae5; color: #065f46; }\n  .winner-amazon { background: #fef3c7; color: #92400e; }\n  .winner-walmart { background: #dbeafe; color: #1e40af; }\n  .winner-tie { background: #f3f4f6; color: #374151; }\n  </style>\n\n  WINNER CLASS RULES:\n  - If Wayfair wins: use class=\"winner-wayfair\"\n  - If Amazon wins: use class=\"winner-amazon\"\n  - If Walmart wins: use class=\"winner-walmart\"\n  - If Tie: use class=\"winner-tie\"\n\n  IMPORTANT:\n  - Calculate actual averages from the product data\n  - Be objective - pick winner based on data, not bias\n  - Use \"Tie\" when competitors are roughly equal\n  - Include the inline style block at the end for winner badges"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        -192
      ],
      "id": "d6a753a7-62e0-4699-8824-b343ac957c58",
      "name": "Comparison Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        32
      ],
      "id": "09b4de63-9fd9-4564-be5e-e90d7688d660",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ardQ0gLWaXWyvLWF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        -192
      ],
      "id": "acbda687-127e-4ae5-8380-cc83af1c9c6e",
      "name": "Wait After Comparison",
      "webhookId": "37043bd1-c770-47e8-a121-29fd5b2aa7ff"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS (prices):\n{{ JSON.stringify($('Code').first().json.wayfair_products?.map(p => ({ title: p.title, price: p.price, list_price: p.list_price, discount: p.discount_percent })).slice(0, 15), null, 2) }}\n\nAMAZON PRODUCTS (prices):\n{{ JSON.stringify($('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts?.map(p => ({ name: p.name, price: p.price })).slice(0, 15), null, 2) }}\n\nWALMART PRODUCTS (prices):\n{{ JSON.stringify($('Combine Walmart Products').first().json.walmartProducts?.map(p => ({ name: p.name, price: p.price, originalPrice: p.originalPrice, sizes: p.sizes })).slice(0, 15), null, 2) }}\n",
        "options": {
          "systemMessage": "You are a pricing strategist. Analyze pricing across Wayfair, Amazon, and Walmart.\n\nTASK: Create Pricing Insights & Whitespace Analysis with visual elements.\n\n  ANALYZE:\n  1. Price band distribution per competitor (budget <$100, mid $100-300, premium $300+)\n  2. Count products in each band for each retailer\n  3. Discount strategies across retailers\n  4. Price gaps and underserved segments\n  5. Whitespace opportunities (prioritized as High/Medium/Low)\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"pricing-whitespace\">\n    <h2>Pricing Insights</h2>\n\n    <div class=\"price-bands\">\n      <h3>Price Distribution by Retailer</h3>\n      <div class=\"band-chart\">\n        <div class=\"band budget\">\n          <span>Budget (&lt;$100)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n        <div class=\"band mid\">\n          <span>Mid ($100-$300)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n        <div class=\"band premium\">\n          <span>Premium ($300+)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n      </div>\n      <div class=\"insights\">\n        <p><strong>Analysis:</strong> [2-3 sentences about price distribution patterns]</p>\n      </div>\n    </div>\n\n    <div class=\"discount-strategies\">\n      <h3>Discount Strategies</h3>\n      <div class=\"discount-chart\">\n        <div class=\"discount-tier\"><span>No Discount</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>1-30% Off</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>31-50% Off</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>50%+ Off</span><span>[X]</span></div>\n      </div>\n      <div class=\"insights\">\n        <p><strong>Key Insight:</strong> [Observation about discount strategies by retailer]</p>\n      </div>\n    </div>\n\n    <h2>Whitespace Analysis</h2>\n\n    <div class=\"whitespace-opportunities\">\n      <h3>Market Gaps & Opportunities</h3>\n      <div class=\"opportunity-cards\">\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 [High Priority Opportunity Title]</h4>\n          <p>[Description of the gap - what price range, what's missing, why it matters]</p>\n          <span class=\"priority\">High Priority</span>\n          <div class=\"rationale\"><p><strong>Why?</strong> [Brief justification]</p></div>\n        </div>\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 [Another High Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">High Priority</span>\n          <div class=\"rationale\"><p><strong>Why?</strong> [Brief justification]</p></div>\n        </div>\n        <div class=\"opportunity-card medium-priority\">\n          <h4>⚡ [Medium Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n        <div class=\"opportunity-card low-priority\">\n          <h4>📊 [Low Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">Low Priority</span>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"price-gaps\">\n      <h3>Price Gap Heatmap</h3>\n      <div class=\"heatmap\">\n        <div class=\"gap hot\"><span>$0-$50</span><span>🔥 High Competition (Amazon/Walmart)</span></div>\n        <div class=\"gap warm\"><span>$50-$100</span><span>⚠️ Moderate Competition</span></div>\n        <div class=\"gap moderate\"><span>$100-$200</span><span>⚠️ Discount-Heavy</span></div>\n        <div class=\"gap cool\"><span>$200-$400</span><span>🟢 Opportunity Zone</span></div>\n        <div class=\"gap open\"><span>$400+</span><span>🟢🟢 Wide Open</span></div>\n      </div>\n    </div>\n  </section>\n\n  IMPORTANT:\n  - Use actual product counts from the data for each price band\n  - Include 2-3 high priority, 1-2 medium priority, and 1 low priority opportunities\n  - Make the heatmap reflect actual competition levels based on the data\n  - Use emojis as shown (🎯, ⚡, 📊, 🔥, ⚠️, 🟢)\n  - W = Wayfair, A = Amazon, Wm = Walmart in the band chart\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2096,
        -192
      ],
      "id": "b5725c5f-7f01-400e-b9dc-9cb5cc235bee",
      "name": "Pricing & Whitespace Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2096,
        16
      ],
      "id": "2c06359a-577f-4c6d-ad01-1a6e56702abe",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ardQ0gLWaXWyvLWF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -192
      ],
      "id": "527068e7-3511-452b-bf80-d86dbd887eb9",
      "name": "Wait After Pricing",
      "webhookId": "716aa36c-c658-4f0f-b380-de5d057ae0e7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nEXECUTIVE SUMMARY:\n{{ $('Executive Summary Generator').first().json.output }}\n\nAMAZON ANALYSIS:\n{{ $('Amazon Analysis Generator').first().json.output }}\n\nCOMPARISON:\n{{ $('Comparison Generator').first().json.output }}\n\nPRICING & WHITESPACE:\n{{ $('Pricing & Whitespace Generator').first().json.output }}\n",
        "options": {
          "systemMessage": "You are a senior strategy consultant. Based on all the analysis of Wayfair vs Amazon vs Walmart, provide actionable recommendations.\n\n  TASK: Create Strategic Recommendations with clear prioritization and visual hierarchy.\n\n  PROVIDE:\n  1. 2-3 Quick Wins (immediate actions, high impact)\n  2. 3-4 Strategic Initiatives (longer-term plays)\n  3. Each recommendation needs: title, description, priority level, expected impact\n  4. At least one recommendation should specifically address Walmart competition\n  5. At least one recommendation should specifically address Amazon competition\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"recommendations\">\n    <h2>Strategic Recommendations</h2>\n\n    <div class=\"quick-wins\">\n      <h3>🚀 Quick Wins (Immediate Actions)</h3>\n      <div class=\"rec-cards\">\n        <div class=\"rec-card priority-high\">\n          <h4>1. [Recommendation Title]</h4>\n          <p>[Detailed description - 2-3 sentences explaining what to do and why. Mention which competitor this addresses (Amazon/Walmart/Both).]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-high\">\n          <h4>2. [Recommendation Title]</h4>\n          <p>[Detailed description addressing specific competitor threat or opportunity.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"strategic-plays\">\n      <h3>📊 Strategic Initiatives</h3>\n      <div class=\"rec-cards\">\n        <div class=\"rec-card priority-high\">\n          <h4>3. [Strategic Initiative Title]</h4>\n          <p>[Longer description - explain the strategy, which competitor gap it exploits, and expected outcomes.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-medium\">\n          <h4>4. [Strategic Initiative Title]</h4>\n          <p>[Description of medium-priority initiative.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Medium Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-medium\">\n          <h4>5. [Strategic Initiative Title]</h4>\n          <p>[Description - could be about differentiation, new product lines, or market positioning.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Medium Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-low\">\n          <h4>6. [Lower Priority Initiative]</h4>\n          <p>[Description of a nice-to-have or longer-term exploration.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Low Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n      </div>\n    </div>\n  </section>\n\n  PRIORITY GUIDELINES:\n  - priority-high: Urgent, addresses immediate competitive threat, high ROI\n  - priority-medium: Important but not urgent, builds long-term advantage\n  - priority-low: Nice to have, exploratory, or requires more research\n\n  CONTENT GUIDELINES:\n  - Be specific - reference actual findings from the analysis\n  - Mention specific competitors by name (Amazon, Walmart)\n  - Reference specific price points or product gaps identified\n  - Include actionable next steps, not vague suggestions\n  - Each recommendation should tie back to data from earlier sections\n\n  EXAMPLES OF GOOD RECOMMENDATIONS:\n  - \"Launch a $80-$150 'Value Plus' line to compete with Walmart's large-format rugs\"\n  - \"Expand machine-washable selection to counter Amazon's Soalmost success\"\n  - \"Create 'Designer Picks' collections to differentiate from Amazon's Ophanie dominance\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2656,
        -192
      ],
      "id": "be6fe5ae-3266-4d00-9a34-8ee872aade09",
      "name": "Recommendations Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2656,
        16
      ],
      "id": "49846def-3a86-4697-8c88-1e686c533e86",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "ardQ0gLWaXWyvLWF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3008,
        -192
      ],
      "id": "f3869975-e48b-4eec-85e3-49800760ab0c",
      "name": "Wait After Recommendations Generator",
      "webhookId": "ca13eb71-94a6-4bd3-a279-c109724bedad"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3216,
        0
      ],
      "id": "7132485e-6b23-49a0-a737-37ddaba0a353",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "1sj9XOraQyHdK5dU",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n## STAGE 6: REPORT ASSEMBLY",
        "height": 560,
        "width": 1200,
        "color": "#2E75B6"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3792,
        -400
      ],
      "typeVersion": 1,
      "id": "ee2204e5-10a6-43ac-b311-adee25de50fd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "// HTML ASSEMBLER - Combines all sections into final report\n\nconst category = $('Input Parser').first().json.categoryDisplayName || 'Rugs';\nconst scopeHtml = $('Scope Generator').first().json.html || '';\nconst execSummary = $('Executive Summary Generator').first().json.output || '';\nconst amazonAnalysis = $('Amazon Analysis Generator').first().json.output || '';\nconst comparison = $('Comparison Generator').first().json.output || '';\nconst pricingWhitespace = $('Pricing & Whitespace Generator').first().json.output || '';\nconst recommendations = $('Recommendations Generator').first().json.output || '';\nconst supplierIdentification = $('Supplier Identification Generator').first().json.output || '';\n\nconst fullHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Competitor Analysis Report - ${category}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n      :root {\n        --primary: #7C3AED;\n        --primary-light: #A78BFA;\n        --success: #059669;\n        --warning: #D97706;\n        --danger: #DC2626;\n        --gray-50: #F9FAFB;\n        --gray-100: #F3F4F6;\n        --gray-200: #E5E7EB;\n        --gray-500: #6B7280;\n        --gray-700: #374151;\n        --gray-900: #111827;\n      }\n      * { box-sizing: border-box; margin: 0; padding: 0; }\n      body {\n        font-family: 'Inter', -apple-system, sans-serif;\n        line-height: 1.6;\n        color: var(--gray-700);\n        background: var(--gray-50);\n        padding: 2rem;\n      }\n      .report-container {\n        max-width: 1200px;\n        margin: 0 auto;\n        background: white;\n        border-radius: 12px;\n        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);\n        overflow: hidden;\n      }\n      .report-header {\n        background: linear-gradient(135deg, var(--primary) 0%, #5B21B6 100%);\n        color: white;\n        padding: 3rem;\n        text-align: center;\n      }\n      .report-header h1 { font-size: 2.5rem; font-weight: 700; margin-bottom: 0.5rem; }\n      .report-header .subtitle { opacity: 0.9; font-size: 1.1rem; }\n      .report-content { padding: 2rem 3rem; }\n      section { margin-bottom: 3rem; padding-bottom: 2rem; border-bottom: 1px solid var(--gray-200); }\n      section:last-child { border-bottom: none; }\n      h2 { color: var(--gray-900); font-size: 1.75rem; font-weight: 600; margin-bottom: 1.5rem; padding-bottom: 0.5rem; border-bottom: 3px solid var(--primary); display: inline-block; }\n      h3 { color: var(--gray-700); font-size: 1.25rem; font-weight: 600; margin: 1.5rem 0 1rem; }\n      h4 { color: var(--gray-700); font-size: 1rem; font-weight: 600; margin-bottom: 0.5rem; }\n\n      /* Scope & Stats Grid */\n      .scope-grid, .stats-grid, .profile-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1.5rem; margin: 1rem 0; }\n      .scope-card, .stat-card, .profile-card {\n        background: var(--gray-50);\n        padding: 1.5rem;\n        border-radius: 8px;\n        border: 1px solid var(--gray-200);\n      }\n      .scope-value, .stat-value { font-size: 1.5rem; font-weight: 700; color: var(--primary); }\n      .stat-label { display: block; font-size: 0.875rem; color: var(--gray-500); margin-top: 0.25rem; }\n\n      /* Executive Summary */\n      .summary-hero { background: linear-gradient(135deg, #F3E8FF 0%, #E0E7FF 100%); padding: 2rem; border-radius: 12px; margin-bottom: 1.5rem; }\n      .key-insight .label { background: var(--primary); color: white; padding: 0.25rem 0.75rem; border-radius: 4px; font-size: 0.75rem; font-weight: 600; text-transform: uppercase; }\n      .key-insight p { font-size: 1.25rem; font-weight: 500; color: var(--gray-900); margin-top: 1rem; }\n      .summary-points ul, .feature-analysis ul { list-style: none; }\n      .summary-points li, .feature-analysis li { padding: 0.75rem 0; border-bottom: 1px solid var(--gray-100); }\n\n      /* Data Tables */\n      .data-table, .comparison-table { width: 100%; border-collapse: collapse; margin: 1rem 0; }\n      .data-table th, .comparison-table th { background: var(--gray-100); padding: 1rem; text-align: left; font-weight: 600; }\n      .data-table td, .comparison-table td { padding: 1rem; border-bottom: 1px solid var(--gray-200); }\n      .data-table a { color: var(--primary); text-decoration: none; font-weight: 500; }\n      .data-table a:hover { text-decoration: underline; }\n\n      /* Winner Styling */\n      .winner { font-weight: 600; }\n      .winner-wayfair, td.winner:contains('Wayfair') { color: var(--success); }\n      .winner-amazon, td.winner:contains('Amazon') { color: var(--warning); }\n      .winner-walmart { color: #2563EB; }\n\n      /* Pricing Bands - Colored Bars */\n      .band-chart { display: flex; gap: 10px; margin: 20px 0; flex-wrap: wrap; }\n      .band {\n        flex: 1;\n        min-width: 150px;\n        padding: 20px 15px;\n        border-radius: 8px;\n        color: white;\n        text-align: center;\n        font-weight: bold;\n        box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n      }\n      .band span { display: block; }\n      .band span:first-child { font-size: 0.9rem; margin-bottom: 8px; opacity: 0.9; }\n      .band span:last-child { font-size: 1.1rem; }\n      .band.budget { background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%); }\n      .band.mid { background: linear-gradient(135deg, #f39c12 0%, #d68910 100%); }\n      .band.premium { background: linear-gradient(135deg, #27ae60 0%, #1e8449 100%); }\n\n      /* Discount Tiers */\n      .discount-chart { display: flex; gap: 10px; margin: 20px 0; flex-wrap: wrap; }\n      .discount-tier {\n        flex: 1;\n        min-width: 120px;\n        padding: 15px;\n        background: var(--gray-100);\n        border-radius: 8px;\n        text-align: center;\n        border: 1px solid var(--gray-200);\n      }\n      .discount-tier span { display: block; }\n      .discount-tier span:first-child { font-size: 0.85rem; color: var(--gray-500); margin-bottom: 5px; }\n      .discount-tier span:last-child { font-size: 1.25rem; font-weight: 700; color: var(--primary); }\n\n      /* Opportunity Cards with Priority Colors */\n      .opportunity-cards { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 20px; }\n      .opportunity-card, .rec-card {\n        background: white;\n        border: 1px solid var(--gray-200);\n        border-radius: 8px;\n        padding: 1.5rem;\n        margin-bottom: 1rem;\n        box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n      }\n      .opportunity-card.high-priority { border-left: 4px solid #e74c3c; background-color: #fdf2f2; }\n      .opportunity-card.medium-priority { border-left: 4px solid #f39c12; background-color: #fffbf0; }\n      .opportunity-card.low-priority { border-left: 4px solid #3498db; background-color: #f0f7ff; }\n      .rec-card.priority-high { border-left: 4px solid #e74c3c; background-color: #fdf2f2; }\n      .rec-card.priority-medium { border-left: 4px solid #f39c12; background-color: #fffbf0; }\n      .rec-card.priority-low { border-left: 4px solid #3498db; background-color: #f0f7ff; }\n\n      /* Priority Badges */\n      .priority {\n        display: inline-block;\n        margin-top: 10px;\n        padding: 4px 12px;\n        border-radius: 20px;\n        font-size: 0.75rem;\n        font-weight: 600;\n        text-transform: uppercase;\n      }\n      .high-priority .priority, .priority-high .priority { background-color: #e74c3c; color: white; }\n      .medium-priority .priority, .priority-medium .priority { background-color: #f39c12; color: white; }\n      .low-priority .priority, .priority-low .priority { background-color: #3498db; color: white; }\n\n      /* Price Gap Heatmap */\n      .heatmap { margin-top: 20px; }\n      .gap {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        padding: 12px 16px;\n        margin: 8px 0;\n        border-radius: 6px;\n        font-weight: 500;\n      }\n      .gap span:last-child { font-weight: 600; }\n      .gap.hot { background-color: #fde8e8; color: #991b1b; }\n      .gap.warm { background-color: #fef3c7; color: #92400e; }\n      .gap.moderate { background-color: #fef9c3; color: #854d0e; }\n      .gap.cool { background-color: #d1fae5; color: #065f46; }\n      .gap.open { background-color: #d1fae5; color: #065f46; }\n\n      /* Recommendation Cards */\n      .rec-cards { display: grid; gap: 1rem; margin-top: 1rem; }\n      .rec-meta { display: flex; gap: 1rem; align-items: center; margin-top: 1rem; padding-top: 1rem; border-top: 1px solid var(--gray-100); }\n      .impact { color: var(--gray-500); font-size: 0.875rem; }\n\n      /* Insights Box */\n      .insights, .rationale {\n        background-color: var(--gray-50);\n        padding: 12px 16px;\n        border-radius: 6px;\n        margin-top: 12px;\n        font-size: 0.9rem;\n        border-left: 3px solid var(--primary-light);\n      }\n\n      /* Footer */\n      .report-footer { background: var(--gray-100); padding: 1.5rem 3rem; text-align: center; font-size: 0.875rem; color: var(--gray-500); }\n    </style>\n</head>\n<body>\n  <div class=\"report-container\">\n    <header class=\"report-header\">\n      <h1>Competitor Analysis Report</h1>\n      <p class=\"subtitle\">${category} - Wayfair vs Amazon vs Walmart</p>\n    </header>\n    <main class=\"report-content\">\n      ${execSummary}\n      ${scopeHtml}\n      ${amazonAnalysis}\n      ${comparison}\n      ${pricingWhitespace}\n      ${recommendations}\n      ${supplierIdentification}\n    </main>\n    <footer class=\"report-footer\">\n      <p>Generated on ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })} | Wayfair Competitive Intelligence</p>\n    </footer>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    output: fullHtml,\n    sections: {\n      scope: !!scopeHtml,\n      executive: !!execSummary,\n      amazon: !!amazonAnalysis,\n      comparison: !!comparison,\n      pricing: !!pricingWhitespace,\n      recommendations: !!recommendations\n    },\n    generatedAt: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        -192
      ],
      "id": "1e22f4c6-4263-484c-ac6f-178d78e662a8",
      "name": "HTML Assembler"
    },
    {
      "parameters": {
        "jsCode": "// === INPUT: Raw LLM output (string) from previous node ===\nlet html = $input.first().json.output || \"\";\n\n// 1. Remove Markdown code fences\nhtml = html.replace(/```html|```/g, \"\").trim();\n\n// 2. Un-escape newlines / tabs / carriage returns and collapse excess whitespace\nhtml = html\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\\\t/g, \"\\t\")\n  .replace(/\\\\r/g, \"\")\n  .replace(/\\s{2,}/g, \" \")          // multiple spaces → one space\n  .replace(/\\n\\s*\\n/g, \"\\n\")        // blank lines → single newline\n  .trim();\n\n// 3. Remove any duplicate/malformed wrappers that the LLM might have added\nhtml = html\n  .replace(/<\\/?(html|body)>/gi, \"\")   // strip stray <html>/<body>\n  .replace(/<!DOCTYPE\\s+html?>/gi, \"\") // strip stray doctype\n  .trim();\n\n// 4. Ensure a **single** valid HTML5 skeleton\nif (!/<!DOCTYPE\\s+html/i.test(html)) {\n  html = \"<!DOCTYPE html>\\n\" + html;\n}\nif (!/<html[\\s>]/i.test(html)) {\n  html = html.replace(/^/, \"<html lang=\\\"en\\\">\\n\");\n}\nif (!/<body[\\s>]/i.test(html)) {\n  html = html.replace(/^(.*?)<html[^>]*>/i, \"$1<html lang=\\\"en\\\"><body>\\n\");\n  html += \"\\n</body>\";\n}\nif (!/<\\/html>/i.test(html)) {\n  html += \"\\n</html>\";\n}\n\n// 5. Light minify – keep all styles, just remove empty lines between tags\nhtml = html.replace(/>\\n\\s*</g, \"><\");\n\n// === OUTPUT: Clean, untouched-style HTML ===\nreturn [{\n  json: {\n    cleaned_html: html,                     // full readable HTML (preserves all CSS)\n    minified_html: html.replace(/\\s+/g, \" \"),// optional one-liner version\n    agent_id: 3,\n    debug: {\n      original_length: ($input.first().json.output || \"\").length,\n      cleaned_length: html.length,\n      fences_removed: true,\n      wrappers_fixed: true\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        -192
      ],
      "id": "9339814e-c91d-4bb1-86f4-516d7573cbdf",
      "name": "Clean AI Output"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.minified_html;\nconst buffer = Buffer.from(text, 'utf8');\nconst binaryData = {\n  data: buffer.toString('base64'),\n  mimeType: 'application/octet-stream',\n  fileName: 'file.html',\n};\nitems[0].binary = { data: binaryData };\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        -192
      ],
      "id": "437d58f6-42ae-46c4-bb1b-91a12b178bdb",
      "name": "Download HTML file from Here"
    },
    {
      "parameters": {
        "html": "{{ $json.cleaned_html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        4528,
        -192
      ],
      "id": "aae7dcb8-f66c-4691-b075-ed3c45bb5281",
      "name": "See HTML output here"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log(JSON.stringify(data, null, 2));\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -1264
      ],
      "id": "d713125d-cc61-4d16-970a-7a6a6471f26d",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Deduplicate + Combine Final Amazon Product List1').first().json.amazonProducts?.map(p => ({ name: p.name, brand: p.brand, url: p.url, price: p.price })).slice(0, 15), null, 2) }}\n\n  WALMART PRODUCTS:\n  {{ JSON.stringify($('Combine Walmart Products').first().json.walmartProducts?.map(p => ({ name: p.name, brand: p.brand, url: p.url, price: p.price })).slice(0, 15), null, 2) }}\n\n  WAYFAIR PRODUCTS:\n  {{ JSON.stringify($('Code').first().json.wayfair_products?.map(p => ({ title: p.title, manufacturer: p.manufacturer })).slice(0, 15), null, 2) }}\n",
        "options": {
          "systemMessage": "You are a sourcing analyst specializing in home goods supply chain. Identify suppliers and brands from competitor product data.\n\n  TASK: Create a Supplier Identification & Sourcing Opportunities section.\n\n  ANALYZE THE DATA TO:\n  1. Extract all unique brand/supplier names from Amazon and Walmart products\n  2. Identify which brands are NOT currently on Wayfair\n  3. Note what each supplier is known for (style, price point, features)\n  4. Find sourcing opportunities for Wayfair\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"supplier-identification\">\n    <h2>Supplier Identification & Sourcing Opportunities</h2>\n\n    <div class=\"suppliers-observed\">\n      <h3>Major Suppliers / Brands Observed</h3>\n      <table class=\"data-table\">\n        <thead>\n          <tr>\n            <th>Supplier / Brand</th>\n            <th>Platform</th>\n            <th>Known For</th>\n            <th>Price Range</th>\n            <th>Website</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td><strong>[Brand Name]</strong></td>\n            <td>[Amazon/Walmart/Both]</td>\n            <td>[Brief description - style, features, target market]</td>\n            <td>$[X] - $[Y]</td>\n            <td><a href=\"[url_if_known]\">[Website or \"Amazon Storefront\"]</a></td>\n          </tr>\n          <!-- Repeat for each major brand found (aim for 5-10 brands) -->\n        </tbody>\n      </table>\n    </div>\n\n    <div class=\"sourcing-opportunities\">\n      <h3>Sourcing Opportunities</h3>\n      <div class=\"opportunity-cards\">\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 Brands Not Currently on Wayfair</h4>\n          <p>The following suppliers are active on Amazon/Walmart but appear absent from Wayfair's catalog:</p>\n          <ul>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable: style, price point, reviews]</li>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable]</li>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable]</li>\n          </ul>\n          <span class=\"priority\">High Priority</span>\n        </div>\n\n        <div class=\"opportunity-card medium-priority\">\n          <h4>⚡ Style Gaps to Fill</h4>\n          <p>These suppliers offer styles or products that could fill gaps in Wayfair's assortment:</p>\n          <ul>\n            <li><strong>[Brand]</strong> specializes in [style] which Wayfair lacks depth in</li>\n            <li><strong>[Brand]</strong> offers [feature/style] at competitive price points</li>\n          </ul>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n\n        <div class=\"opportunity-card medium-priority\">\n          <h4>🏭 Private Label / Exclusive Candidates</h4>\n          <p>These suppliers may be suitable for private label partnerships or exclusive arrangements:</p>\n          <ul>\n            <li><strong>[Brand]</strong> - [Why: quality, price point, style alignment]</li>\n            <li><strong>[Brand]</strong> - [Why: manufacturing capability, unique features]</li>\n          </ul>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"supplier-insights\">\n      <h3>Key Supplier Insights</h3>\n      <div class=\"insights\">\n        <ul>\n          <li><strong>Amazon Dominance:</strong> [Which brand dominates Amazon in this category and why]</li>\n          <li><strong>Walmart Focus:</strong> [What type of suppliers Walmart features]</li>\n          <li><strong>Price Point Gaps:</strong> [Where supplier opportunities exist by price]</li>\n          <li><strong>Emerging Brands:</strong> [Any newer brands showing strong reviews/traction]</li>\n        </ul>\n      </div>\n    </div>\n  </section>\n\n  BRAND IDENTIFICATION TIPS:\n  - Look for brand names in product titles (usually first word or after \"by\")\n  - Common Amazon rug brands: Ophanie, Rugs.com, Safavieh, nuLOOM, Unique Loom, Gorilla Grip, Lahome\n  - Common Walmart rug brands: Mainstays, Better Homes & Gardens, SAFAVIEH, Pentantan, My Texas House\n  - If brand website unknown, link to their Amazon/Walmart storefront or write \"Search Required\"\n\n  IMPORTANT:\n  - Only include brands you can actually identify from the product data\n  - Compare against Wayfair's manufacturer list to identify gaps\n  - Be realistic about private label candidates (smaller brands, quality products)\n  - Include at least 5 brands in the main table\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3216,
        -192
      ],
      "id": "9e553ab3-d25f-4338-b31a-ca820f3228b7",
      "name": "Supplier Identification Generator"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parser": {
      "main": [
        [
          {
            "node": "Fetch Wayfair Rugs Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Collection List1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Direct Links1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Walmart Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Walmart Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Wayfair Rugs Page": {
      "main": [
        [
          {
            "node": "Extract Rug Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rug Products": {
      "main": [
        [
          {
            "node": "Filter Valid Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Products": {
      "main": [
        [
          {
            "node": "Create Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final JSON": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Collection List1": {
      "main": [
        [
          {
            "node": "Is List Empty?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is List Empty?1": {
      "main": [
        [
          {
            "node": "Visit Amazon Collection/Search Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Links1": {
      "main": [
        [
          {
            "node": "Remove Duplicate Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause for Safety1": {
      "main": [
        [
          {
            "node": "Visit Product Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Product Page1": {
      "main": [
        [
          {
            "node": "Read Collection Item Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Direct Links1": {
      "main": [
        [
          {
            "node": "Do We Have Direct Link?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do We Have Direct Link?1": {
      "main": [
        [
          {
            "node": "Visit Direct Product Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Direct Product Page1": {
      "main": [
        [
          {
            "node": "Read Direct Item Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Direct Item Details1": {
      "main": [
        [
          {
            "node": "Merge Amazon Products (Collection + Direct)1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Amazon Products (Collection + Direct)1": {
      "main": [
        [
          {
            "node": "Deduplicate + Combine Final Amazon Product List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Collection Item Details1": {
      "main": [
        [
          {
            "node": "Merge Amazon Products (Collection + Direct)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Amazon Collection/Search Page1": {
      "main": [
        [
          {
            "node": "Extract Product Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Links1": {
      "main": [
        [
          {
            "node": "Pause for Safety1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Walmart Collection": {
      "main": [
        [
          {
            "node": "Has Walmart Collection URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Walmart Collection": {
      "main": [
        [
          {
            "node": "Extract Walmart Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Walmart Links": {
      "main": [
        [
          {
            "node": "Wait Walmart Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Walmart Collection": {
      "main": [
        [
          {
            "node": "Fetch Walmart Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Walmart Product2": {
      "main": [
        [
          {
            "node": "Parse Walmart Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Walmart Products": {
      "main": [
        [
          {
            "node": "Has Walmart Product URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Walmart Product": {
      "main": [
        [
          {
            "node": "Fetch Walmart Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Walmart Product URL?": {
      "main": [
        [
          {
            "node": "Wait Walmart Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Walmart Product": {
      "main": [
        [
          {
            "node": "Parse Walmart Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Walmart Collection URL?": {
      "main": [
        [
          {
            "node": "Fetch Walmart Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Walmart Product1": {
      "main": [
        [
          {
            "node": "Merge Walmart Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Walmart Product2": {
      "main": [
        [
          {
            "node": "Merge Walmart Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Walmart Results": {
      "main": [
        [
          {
            "node": "Combine Walmart Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate + Combine Final Amazon Product List1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Walmart Products": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Scope Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scope Generator": {
      "main": [
        [
          {
            "node": "Wait After Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Scope": {
      "main": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Executive Summary Generator": {
      "main": [
        [
          {
            "node": "Wait After Executive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Executive Summary": {
      "main": [
        [
          {
            "node": "Amazon Analysis Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Amazon Analysis Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Amazon Analysis Generator": {
      "main": [
        [
          {
            "node": "Wait After Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Amazon": {
      "main": [
        [
          {
            "node": "Comparison Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Comparison Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comparison Generator": {
      "main": [
        [
          {
            "node": "Wait After Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Comparison": {
      "main": [
        [
          {
            "node": "Pricing & Whitespace Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Pricing & Whitespace Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pricing & Whitespace Generator": {
      "main": [
        [
          {
            "node": "Wait After Pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Pricing": {
      "main": [
        [
          {
            "node": "Recommendations Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Recommendations Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recommendations Generator": {
      "main": [
        [
          {
            "node": "Wait After Recommendations Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Recommendations Generator": {
      "main": [
        [
          {
            "node": "Supplier Identification Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Supplier Identification Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML Assembler": {
      "main": [
        [
          {
            "node": "Clean AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI Output": {
      "main": [
        [
          {
            "node": "Download HTML file from Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download HTML file from Here": {
      "main": [
        [
          {
            "node": "See HTML output here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Identification Generator": {
      "main": [
        [
          {
            "node": "HTML Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "689bb572-40c6-43e7-b171-28addf9fdfb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b18837ee8458913810902541b6f52853988b69afd98421f8763bc54ebe48f50b"
  },
  "id": "LBN5g5AlzfFcHEXJ",
  "tags": []
}