Lab Artifacts/Lab 1/My First AI Agent with N8N.json
{
  "name": "My First AI Agent with N8N",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        0
      ],
      "id": "0f62eb04-dd3f-4184-870d-d8261801b4a2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{json: {weather: \"sunny\"}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        0
      ],
      "id": "18de35ae-c81f-49a1-8b0c-d2a3e8730822",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ead07d4-cc8c-45dd-aa2e-fde41a415caa",
              "leftValue": "={{ $json.weather }}",
              "rightValue": "sunny",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        0
      ],
      "id": "33edb3ff-b033-41d2-9a15-3a47d54c5e64",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9c6f44-b94c-4dca-918e-9a7449e201c3",
              "name": "",
              "value": "It's a bright day!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -96
      ],
      "id": "0b771bef-81f0-493f-ac26-79643bf48a68",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c27353f6-419e-4ff9-b570-c1c14890ecca",
              "name": "",
              "value": "Looks cloudy today!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        96
      ],
      "id": "fb099618-b1c2-489d-b47e-4e6122123f3c",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bf00ffdc-5067-4a38-9926-15a12d17ad04",
  "meta": {
    "instanceId": "12207134bc4581f19b6274b56f4778f0de0861dff8bde0c5c8e765de7a45b7f4"
  },
  "id": "L7rIewB2UKvGYo6Z",
  "tags": []
}